BODY { background: #ffffff }
P { 
color: black;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: left;
}
.error {
color: red;
font-weight: bold;
}
.menu_admin { 
color: black;
font-size: 0.8em;
}
.menu_title { 
color: red;
font-weight: bold;
text-align: right;
}

.menu { 
color: black;
}
.centermsg {
text-align: center;
}
.centerwarn {
color: red;
font-weight: bold;
text-align: center;
}
.mandatory {
font-weight: bold;
}
.small {
font-weight: normal;
font-size: 0.7em;
}
A:link { font-family: Verdana, Arial, Helvetica, sans-serif; color: blue; text-decoration: none; font-weight: bold }
A:active { font-family: Verdana, Arial, Helvetica, sans-serif; color: blue; text-decoration: none; font-weight: bold }
A:visited { font-family: Verdana, Arial, Helvetica, sans-serif; color: blue; text-decoration: none; font-weight: bold }
A:hover { font-family: Verdana, Arial, Helvetica, sans-serif; color: blue; text-decoration: underline; font-weight: bold }
H1 { color: red; font-size: 2em; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left }
H1 a:hover { text-decoration:none; color: red;}
H1 a:visited { text-decoration:none; color: red;}
h1 a:link { text-decoration:none; color: red;}
h1 a:active { text-decoration:none; color: red;}
H2 { color: red; font-size: 1.8em; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center }
H3 { color: red; font-size: 1.6em; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center }
H4 { color: red; font-size: 1.4em; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left }
UL, OL { 
color: red;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.recipe {
    border:none;
    border-spacing:1px;
    background-color: #aaaaaa;
}
.recipe-title {
    background-color:#dddddd;
}
.recipe-image {
    background-color: #aaaaaa;
    text-align: center;
    font-weight: bold;
}
table.recipe tr:nth-child(even) {
    background-color: #dddddd;
}
table.recipe tr:nth-child(odd) {
    background-color: #eeeeee;
}

table.browse {
    border:none;
    border-spacing:1px;
    background-color: #aaaaaa;
    width: 100%;
}
table.browse tr:nth-child(even) {
    background-color: #eeeeee;
}
table.browse tr:nth-child(odd) {
    background-color: #dddddd;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 40%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 1.8em; }
#sortable li span { position: absolute; margin-left: -1.3em; }
#sortable li .close-button { position: relative; margin-left: auto; display:inherit; cursor: pointer; }
